.active{ 
     background-color: rgb(187, 184, 184);
     border-radius:5px;
     border-left-width:10px;
     border-right-width:10px;
     border-color:rgb(187, 184, 184);
    }
 i{
     color:cornflowerblue;
 }
 html{
     background-color:white;
 }


 






